@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    border: none;
}

main {
    margin-bottom: 25%;
}

/* ハンバーガーメニュー */

header {
    padding: 16px;
    background: lightgreen;
    padding: 16px;
    background: lightgreen;
}

.h-menu {
    position: relative;
}

/*inputのcheckboxは非表示に*/
.h-menuCheckbox {
    display: none;
}

/*ハンバーガーメニュー*/
.h-menu_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/*3本線*/
.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 3px;
    background: black;
    cursor: pointer;
}

.hamburger-icon:before {
    top: 10px;
}

.hamburger-icon:after {
    top: 20px;
}

/*メニュー以外を暗くする*/
#h-menu_black {
    display: none;
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: 0.7s ease-in-out;
}

/*中身*/
#h-menu_content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    padding: 53px 16px 16px;
    background: lightgreen;
    overflow: auto;
    transition: 0.3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

/*チェックボックスにチェックが入ったら表示*/
input:checked ~ .h-menu_icon .hamburger-icon {
    background: transparent;
}

input:checked ~ .h-menu_icon .hamburger-icon::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 10px;
    z-index: 999;
}

input:checked ~ .h-menu_icon .hamburger-icon::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 10px;
    z-index: 999;
}

input:checked ~ #h-menu_black {
    display: block;
    opacity: 0.8;
}

#h-menu_checkbox:checked ~ #h-menu_content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

.h-menu_icon .hamburger-icon,
.h-menu_icon .hamburger-icon::before,
.h-menu_icon .hamburger-icon::after,
#h-menu_black,
#h-menu_content {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#h-menu_content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#h-menu_content ul li {
    border-bottom: solid 1px white;
}

#h-menu_content li a {
    display: block;
    color: black;
    font-size: 14px;
    padding: 24px;
    text-decoration: none;
    transition-duration: 0.2s;
}

#h-menu_content li a:hover {
    background: white;
}

/* 左上表示ハンバーガーメニュー */

/* スマートフォン用下部メニュー */
.mini-text {
    font-size: 20px;
}

/*========================
　smartphone　bottom menu
　========================*/
.mini-text {
    font-size: 20px;
}

/*文字大きさ*/
ul.bottom-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    /*高さ*/
    margin: 0;
    background-color: lightgreen;
    /*背景色*/
    border-top: 2px solid lightgreen;
    /*バーの上の線*/
    border-bottom: 2px solid lightgreen;
    /*バーの下の線*/
    text-align: center;
    padding: 20px 0;
    z-index: 30;
}

ul.bottom-menu li {
    float: left;
    width: 25%;
    background-color: lightgreen;
    /*背景色*/
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    /*アイコンのサイズ*/
}

.bottom-menu li a {
    display: block;
    color: black;
    /*アイコン＆文字の色*/
    padding-top: 10px;
    padding-bottom: 5px;
    line-height: 10px;
    text-decoration: none;
}

.bottom-menu li a:hover {
    color: #fff;
    /*マウスオーバー時の色*/
}

/* === 展開メニュー === */
ul.menu-second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

ul.menu-second-level li a {
    border-top: 1px dashed #a9a9a9;
    /*展開の枠点線*/
    font-size: 20px;
    /*展開メニューの文字サイズ*/
    line-height: 30px;
    /*文字の縦幅*/
}

.menu-second-level li a:hover {
    height: 100%;
    background: black;
    /*マウスオーバーの色*/
}

li.menu-width-max ul.menu-second-level {
    position: absolute;
    bottom: 47px;
    /*高さ*/
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
}

li.menu-width-max:hover ul.menu-second-level {
    bottom: 47px;
    /*高さ*/
    visibility: visible;
    opacity: 1;
}

li.menu-width-max ul.menu-second-level li {
    float: left;
    width: 100%;
    border: none;
}

/* サインアップ */
/*Don't forget to add Font Awesome CSS : "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"*/
input[type="text"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

input[type="email"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="email"] {
    padding-left: 40px;
    width: 80%;
}

input[type="password"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="password"] {
    padding-left: 40px;
    width: 80%;
}

.inputWithIcon {
    position: relative;
    text-align: center;
}

/* サインアップ */

/* h1タグの中央揃え */
h1 {
    text-align: center;
}

/* h1タグの中央揃え */

.btn-submit {
    width: 100%;
    text-align: center;
    color: aqua;
}

/* h1タグの中央揃え */

/* 総合案内迷子忘れ物選択 */
.area {
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}

.tab_class {
    width: calc(100% / 2);
    height: 50%;
    background-color: darkgrey;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    float: left;
    order: -1;
}

input[name="tab_name"] {
    display: none;
}

input:checked + .tab_class {
    background-color: green;
    color: aliceblue;
}

.content_class {
    display: none;
    width: 100%;
}

input:checked + .tab_class + .content_class {
    display: inline-block;
}

/* 総合案内迷子忘れ物選択 */

.botton-back {
    margin-top: 10%;
}

.wrapper {
    background: #66cdaa;
    color: #fff;
    border: 2px dashed #fff;
    box-shadow: 0 0 0 10px #7fffd4;
    padding: 1rem;
    border-radius: 2px;
    margin-top: 50vh auto 0;
    transform: translateY(10%);
}

.wrapper .title {
    display: flex;
}

.wrapper .title .image {
    width: 90px;
    height: 90px;
    margin: 5% 0% 0% 10%;
}

.wrapper .title .shop-name {
    margin: 10% 0% 0% 10%;
    font-size: 220%;
    font-weight: normal;
}

.wrapper .expla {
    font-size: 130%;
    padding: 0.5em 1em;
    margin: 2em 0;
    border: dashed 2px #6b8e23;
}

/* 迷子情報、落とし物情報閲覧 */
.post {
    text-align: left;
    border: 2px solid #38b48b;
    border-radius: 5px;
    position: relative;
    margin: 2em 0.5em 1em;
    background-color: #fef4f4;
}

.post-title {
    position: absolute;
    left: 0;
    top: -1.7em;
    margin-left: 0.5em;
    padding: 0 0.5em;
    background: #38b48b;
    color: #fff;
    border-radius: 5px;
}

.post-date {
    padding-top: 1em;
    margin: 0.5em;
}

.post-text {
    margin: 0.5em;
}

.btn-submit {
    text-align: center;
}

/* 迷子情報、落とし物情報編集 */
.uk-card-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.uk-form-stacked {
    margin: auto;
    width: 60%;
    text-align: center;
}

.uk-input {
    border: solid 3px #333;
    border-radius: 10px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 25px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

.uk-input:focus {
    border-color: #66cdaa;
    box-shadow: 0 0 8px 0 #66cdaa;
}

.uk-textarea {
    resize: none;
    outline: none;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 97%;
    height: 150px;
    padding: 1%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: solid 3px #333;
    border-radius: 10px;
}

.uk-textarea:focus {
    border-color: #66cdaa;
    box-shadow: 0 0 8px 0 #66cdaa;
}

.uk-button-primary {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 130px;
    color: #333;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0 0 0 / 0.3);
    border-radius: 6px;
    transition: 0.3s;
}

.uk-button-primary:hover {
    text-decoration: none;
    background-color: #7fffd4;
}
/* 迷子情報、落とし物情報編集 */


/* ログイン画面 */

body {
    background-color: black;
  }

  form {
    width: 80%;
    padding: 10% 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #000;
    text-align: center;
  }

  form h1,form p {
    color: white;
    font-weight: 500;
  }

  form p {
    font-size: 10%;
  }

  form input[type = "id"],form input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 10% auto;
    border: 2px solid #66cdaa;
    padding: 5% 5%;
    width: 60%;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;
  }

  form input[type = "id"]:focus,form input[type = "password"]:focus {
    width: 280px;
    background-color: white;
  }

  form input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 10% auto;
    border: 2px solid;
    padding: 5% 5%;
    width: 70%;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
  }

  form input[type = "submit"]:hover {
    background-color: #66cdaa;
    border: 2px solid #66cdaa;
  }

  /* ログイン画面 */
